@page "/account/login"
@inject AuthenticationStateProvider AuthicationStateProvider
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject IStringLocalizer<LogInResource> resource

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <EditForm Model="LoginDto" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="card">
                    <div class="card-header">@resource["Header"]</div>
                    <div class="card-body">
                        <div class="form-group mt-3">
                            <label class="form-label">@resource["UserName"]</label>
                            <InputText @bind-Value="LoginDto.UserName" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">@resource["Password"]</label>
                            <input type="password" @bind="LoginDto.Password" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-outline-primary float-end" type="submit">@resource["LogIn"]</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    LoginDto LoginDto = new();

    async Task HandleLogin()
    {
        var apiCallResult = await UserManagmentService.LoginAsync(LoginDto);
        if (apiCallResult.Success)
        {
            var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)AuthicationStateProvider;
            await customAuthenticationStateProvider.UpdateAuthenticationState(
                new Session
                    {
                        Token = apiCallResult.Token,
                        RefreshToken = apiCallResult.RefreshToken
                    });
            NavManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            // Show a popup message if login fails
            await JS.InvokeVoidAsync("alert", resource["WrongCredentials"]);
        }
    }
}
