@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized> 
                    <a class="btn btn-none" @onclick="LogoutClicked">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-none" href="account/login">Log in</a>
                    <a class="btn btn-none" href="account/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
            <CultureSelector />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    async Task LogoutClicked()
    {
        var session = new Session();
        var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)AuthicationStateProvider;
        await customAuthenticationStateProvider.UpdateAuthenticationState(session);
        NavManager.NavigateTo("/", forceLoad:true);
    }

}
